<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box {
            width: 50%;
            border: 1px solid #cccccc;
            margin: 0 auto;
            margin-top: 100px;
        }
        .name {
            float: right;
            font-size: 25px;
            margin: 0;
        }
        .address {
            float: right;
            font-size: 15px;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="box">
        <p class="name">
            袁志伟
        </p>
        <br />
        <br />
        <p class="address">
            安徽省滁州市
        </p>
        <br />
        <p class="address">
            2533646923@qq.com
        </p>
    </div>
</body>
</html>