<%- layout('layout')%>
<%- partial('navbar')%>

<link rel="stylesheet" type="text/css" href="../public/stylesheets/topic_home.css"/>

<div class="topic_home">
    <ul>
        <li>身份: <%= topic.username %></li>
        <li>标题: <%= topic.title %></li>
        <li>内容: <%- md.render(topic.textarea) %></li>

        <% if(current_user) { %>
            <% if(current_user.username == topic.username) { %>
                <a href="delete/<%= topic._id %>">删除</a>
            <% } %>
        <% } %>
    </ul>
</div>
<hr />

<div class="reply">
    <form action="/reply" method="post">
        <input type="hidden" name="topicId" value="<%= topic._id %>">
        <input class="reply" type="text" name="reply" placeholder="发表你的评论">
        <input class="up" type="submit" value="上传">
    </form>
</div>

<ul class="comment"><%- partial('inner', comment)%></ul>
