.box {
    width: auto;    
    margin-top: 10%;
    margin-left: 6%;    
    float: left;
}

.box p {
    bottom: 0px;
    text-align: center;
    color: #ccc;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 200px;
    border: 1px solid #ccc;
}

.cont {
    margin: 70px;
    font-size: 15px;
    width: 60%;
    float: right;  
}

.contlist {
    height: 70px;
    margin-right: 20px;
    width: 80%;
    float: right;
    margin-top: 50px;
    line-height: 70px;
    border-radius: 4px;
    box-shadow: 1px 1px 20px 0px #D3D3D3;
}
